In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("data/data_dictionary.csv")

In [3]:
df1.head()

         Field                                        Description
0      Company                                       Company name
1    Valuation       Company valuation in billions (B) of dollars
2  Date Joined  The date in which the company reached $1 billi...
3     Industry                                   Company industry
4         City                    City the company was founded in

In [4]:
df = pd.read_csv("data/unicorn_companies.csv")

In [5]:
df

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,$1B,2017-06-29,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,$379M,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,$1B,2017-04-18,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,$990M,"58.com, Tencent Holdings"
1071,Zihaiguo,$1B,2021-05-06,Consumer & retail,Chongqing,China,Asia,2018,$80M,"Xingwang Investment Management, China Capital ..."
1072,Zopa,$1B,2021-10-19,Fintech,London,United Kingdom,Europe,2005,$792M,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,$1B,2020-09-16,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,$620M,"Novator Partners, True, Causeway Media Partners"

In [6]:
df.isnull()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1069,False,False,False,False,False,False,False,False,False,False
1070,False,False,False,False,False,False,False,False,False,False
1071,False,False,False,False,False,False,False,False,False,False
1072,False,False,False,False,False,False,False,False,False,False
1073,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isna().sum()

Company              0
Valuation            0
Date Joined          0
Industry             0
City                16
Country              0
Continent            0
Year Founded         0
Funding              0
Select Investors     1
dtype: int64

In [8]:
df[df['City'].isnull()]

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
12,FTX,$32B,2021-07-20,Fintech,NaN,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank"
170,HyalRoute,$4B,2020-05-26,Mobile & telecommunications,NaN,Singapore,Asia,2015,$263M,Kuang-Chi
242,Moglix,$3B,2021-05-17,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2015,$471M,"Jungle Ventures, Accel, Venture Highway"
251,Trax,$3B,2019-07-22,Artificial intelligence,NaN,Singapore,Asia,2010,$1B,"Hopu Investment Management, Boyu Capital, DC T..."
325,Amber Group,$3B,2021-06-21,Fintech,NaN,Hong Kong,Asia,2015,$328M,"Tiger Global Management, Tiger Brokers, DCM Ve..."
382,Ninja Van,$2B,2021-09-27,"Supply chain, logistics, & delivery",NaN,Singapore,Asia,2014,$975M,"B Capital Group, Monk's Hill Ventures, Dynamic..."
541,Advance Intelligence Group,$2B,2021-09-23,Artificial intelligence,NaN,Singapore,Asia,2016,$536M,"Vision Plus Capital, GSR Ventures, ZhenFund"
811,Carousell,$1B,2021-09-15,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2012,$288M,"500 Global, Rakuten Ventures, Golden Gate Vent..."
848,Matrixport,$1B,2021-06-01,Fintech,NaN,Singapore,Asia,2019,$100M,"Dragonfly Captial, Qiming Venture Partners, DS..."
880,bolttech,$1B,2021-07-01,Fintech,NaN,Singapore,Asia,2018,$210M,"Mundi Ventures, Doqling Capital Partners, Acti..."
889,Carro,$1B,2021-06-14,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2015,$595M,"SingTel Innov8, Alpha JWC Ventures, Golden Gat..."
893,Cider,$1B,2021-09-02,E-commerce & direct-to-consumer,NaN,Hong Kong,Asia,2020,$140M,"Andreessen Horowitz, DST Global, IDG Capital"
980,NIUM,$1B,2021-07-13,Fintech,NaN,Singapore,Asia,2014,$285M,"Vertex Ventures SE Asia, Global Founders Capit..."
986,ONE,$1B,2021-12-08,Internet software & services,NaN,Singapore,Asia,2011,$515M,"Temasek, Guggenheim Investments, Qatar Investm..."
994,PatSnap,$1B,2021-03-16,Internet software & services,NaN,Singapore,Asia,2007,$352M,"Sequoia Capital China, Shunwei Capital Partner..."
1061,WeLab,$1B,2017-11-08,Fintech,NaN,Hong Kong,Asia,2013,$871M,"Sequoia Capital China, ING, Alibaba Entreprene..."

In [9]:
#some countries have no cities. Thus the city column will be filled with the country name
df['City'].fillna(df['Country'], inplace=True)

In [12]:
df[df['Select Investors'].isnull()]

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
629,LinkSure Network,$1B,2015-01-01,Mobile & telecommunications,Shanghai,China,Asia,2013,$52M,NaN

In [13]:
#drop row #629 to prevent having null values in the data
df = df.drop(labels=629, axis=0)

In [19]:
df['Industry'].nunique()

16

In [20]:
df.to_csv("main.csv")

1058